$ac-color:#fe3e57;
$df-color:#8d8d8d;
$title-color:#29282d;

%Roboto-4 {
  font-family: Roboto;
  font-weight: 400;
}

%Roboto-7 {
  font-family: Roboto;
  font-weight: 700;
}

%Oxygen-4 {
  font-family: Oxygen;
  font-weight: 400;
}

%Oxygen-5 {
  font-family: Oxygen;
  font-weight: 500;
}